/** CSS STYLE **/

/**Переменные**/
:root {
--header-height: 50px;
--color-dark: #303846;
--color-light: white;
--colored: rgb(9, 211, 172);
--color-light-grey: #f7f7f7;
--color-grey: #c7ccd3dc;
}


/**Общие**/
body {
    font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color-dark);
}
.btn {
	background-color: transparent;
    border-radius: 4px;
    border-style: solid;
    width: 130px;
	padding: 10px;
}


/**Шапка лендинга**/
.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    font-weight: bold;
    background-color: var(--color-light);
    padding: 10px;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
}
.navigation a {
    text-decoration: none;
    color: var(--color-dark);
    margin-right: 1.1em;
}
.logo {
    padding-right: 1.1em;
    padding-left: 10px;
}


/**Основная часть контента**/
main {
    padding-top: var(--header-height);
}


/**Секции**/
.section-content {
    line-height: 150%;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1000px;
    margin: auto;
}
.background-gray {
    background-color: var(--color-light-grey);
}
section h2 {
    font-size: 1.8em;
    padding-bottom: 20px;
}
.flex {
    display: flex;
    justify-content: space-between;
}


/**Баннер**/
.topic {
    text-align: center;
    background: url(../images/banner.png) 60% no-repeat;
    background-position-y: 68%;
}
.topic .section-content {
    padding-top: 0px;
    padding-bottom: 0px;
}
.topic img {
    padding: 10px;
    margin-top: 20px;
}
.topic h1, .topic h2 {
    color: var(--color-light);
    line-height: 100%;
}
.topic h1 {
    font-size: 2.5em;
    padding: 15px;
}
.topic h2 {
    font-size: 1em;
    padding-bottom: 25px;
}
.pad-bottom-25 {
    padding-bottom: 25px;
}
.btn-white {
    color: var(--color-light);
    border-width: 0.5px;
    border-color: var(--color-light);
    text-decoration: none;
}


/**Секция преимущества**/
.advantages div {
    width: 33%;
    padding-left: 50px;
}
.advantages .pad-left-0 {
    padding-left: 0;
}


/**Секции про луну**/
.info-block-img {
    width: 30%;
    height: 15%;
}
.width-50-percent {
    width: 50%;
}


/**Форма обратной связи**/
form h2 {
    text-align: center;
}
legend {
    color: var(--colored);
    font-weight: bold;
}
.form-block {
    border-color: var(--colored);
    width: 400px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.form-reserve {
    display: flex;
    flex-flow: column nowrap;
}
.form-reserve div {
    display: flex;
    padding-top: 10px;
}
.form-reserve .pad-top-20 {
    padding-top: 20px;
}
.form-reserve .pad-bot-20 {
    padding-bottom: 20px;
}
input, select {
    border: 1px solid var(--color-grey);
    height: 30px;
    border-radius: 4px;
}
.width-180 {
    width: 180px;
}
.width-140 {
    width: 140px;
}
.form-reserve .label {
    width: 50%;
    font-weight: bold;
}
.button-div {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}
.btn-green {
    font-weight: bold;
    color: var(--colored);
    border-width: 1px;
    border-color: var(--colored);
}


/**Футер**/
.flex-align-center {
    display: flex;
    align-items: center;
}
.footer {
    justify-content: space-around;
    background-color: var(--color-dark);
    padding-top: 50px;
    padding-bottom: 55px;
}
.footer h2, .footer li, .footer p {
    color: var(--color-light);
}
.footer .copyright {
    font-size: 0.7em;
    color: var(--color-grey);
    margin-top: 10px;
}
.footer ul {
    font-size: 0.7em;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 15px;
    list-style-type: disc;
}