/** CSS STYLE **/

/**Переменные**/
:root {
--header-height: 50px;
--color-font: #303846;
--color-form: rgb(9, 211, 172);
}


/**Общие**/
body {
    font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color-font);
}
.btn {
	background-color: transparent;
    border-radius: 4px;
    border-style: solid;
    width: 130px;
	padding: 10px;
}
.pad-top-bot-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}


/**Шапка лендинга**/
.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    font-weight: bold;
    background-color: white;
    padding: 10px;
}
.header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header nav a {
    text-decoration: none;
    color: var(--color-font);
    margin-right: 1.1em;
}
.logo {
    margin-right: auto;
    padding-right: 1.1em;
    padding-left: 10px;
}


/**Основная часть контента**/
main {
    padding-top: var(--header-height);
}


/**Секции**/
.section-content {
    line-height: 150%;
    max-width: 1000px;
    margin: auto;
}
.background-grey {
    background-color: #f7f7f7;
}
section h2 {
    font-size: 1.8em;
    padding-bottom: 20px;
}
.flex {
    display: flex;
}


/**Баннер**/
.topic {
    text-align: center;
    background: url(../images/banner.png) 60% no-repeat;
    background-position-y: 68%;
}
.topic img {
    padding: 10px;
    margin-top: 20px;
}
.topic h1, .topic h2 {
    color: white;
    line-height: 100%;
}
.topic h1 {
    font-size: 2.5em;
    padding: 15px;
}
.topic h2 {
    font-size: 1em;
    padding-bottom: 25px;
}
.pad-bottom-25 {
    padding-bottom: 25px;
}
.btn-a {
    color: white;
    border-width: 0.5px;
    border-color: white;
    text-decoration: none;
}


/**Секция преимущества**/
.advantages div {
    flex: 1 1;
    padding-left: 50px;
}
.advantages div:nth-child(1) {
    padding-left: 0;
}


/**Секции про луну**/
.left-content {
    margin-right: 175px;
}
.info-block-img {
    width: 30%;
    height: 15%;
}


/**Форма обратной связи**/
form h2 {
    text-align: center;
}
legend {
    color: var(--color-form);
    font-weight: bold;
}
fieldset {
    border-color: var(--color-form);
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.form-width {
    width: 400px;
}
.form-reserve {
    display: flex;
    flex-flow: column nowrap;
}
.form-reserve div {
    display: flex;
    padding-top: 10px;
}
.form-reserve .first-field {
    padding-top: 20px;
}
.form-reserve div:nth-last-child(1) {
    padding-bottom: 20px;
}
input, select {
    border: 1px solid #bfc5d1;
    height: 30px;
    border-radius: 4px;
}
.width-180 {
    width: 180px;
}
.width-140 {
    width: 140px;
}
.form-reserve .label {
    width: 50%;
    font-weight: bold;
}
.button-div {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}
.btn-form {
    font-weight: bold;
    color: var(--color-form);
    border-width: 1px;
    border-color: var(--color-form);
}


/**Футер**/
.flex-align-center {
    display: flex;
    align-items: center;
}
.footer {
    justify-content: space-around;
    background-color: var(--color-font);
}
.footer h3, .footer li, .footer p {
    color: white;
}
.footer .copyright {
    font-size: 0.7em;
    color: #c7ccd3dc;
    margin-top: 10px;
}
.footer ul {
    font-size: 0.7em;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 15px;
    list-style-type: disc;
}